.profile__addButton {
  width: 150px;
  height: 50px;
  border: 1px solid white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 35px 0px 35px auto;
}
.profile__addButton:hover {
  opacity: 0.6;
}
@media screen and (max-width:1023px) {
  .profile__addButton {
    width: 100%
  }
}
