.popup__closeButton {
  color: #fff;
  position: absolute;
  top: -50px;
  right: -50px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .popup__closeButton {
    height: 32px;
    right: -5px;
    top: -45px;
  }
}
